<!DOCTYPE html>
<html>
<head>
	<title>Edit User</title>
</head>
<body>
<!-- affichage allert -->
	<% if flash[:success] %>
    <div class="alert alert-success" style="text-align: center;"><%= flash[:success]%></div>
    <% else  %>
    	<%if flash[:danger]%>
    <div class="alert alert-danger" style="text-align: center;"><%= flash[:danger]%></div>
    <% end %>
    <% end %>
<!-- entête -->
	<h1>Voulez vous changer votre profil <%=@user.first_name%></h1>
<!-- demande d information à changé -->
<%=form_tag url_for(action: 'update' ),method: "patch" do%>
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
		<legend>Créé un nouveau compte</legend>
	<label>First name:</label>  </br>
		<input type="text" name="first" value="<%=@user.first_name%>"></br>
	<label>Last name: </label>  </br>
		<input type="text" name="last" value="<%=@user.last_name%>"></br>
	<label>Age: </label> </br>
		<input type="integer" name="ages" value="<%=@user.age%>"></br>
	<label>E-mail: </label> </br>
		<input type="text" name="e_mail" value="<%=@user.email%>"></br>
	</br>
	<label>Ville: </label> </br>	
		<input type="text" name="city" value="<%=@user.city.name%>">
	</br>
	<label>Déscription: </label> </br>
		<textarea name="descriptions"><%=@user.description%></textarea></br>

	<label>Entré votre mots de passe pour confirmé: </label> </br>
		<input type="password" name="mpas" placeholder="Mots de passe">
	<%= submit_tag "Add Comment" %>
<!-- affichage des erreurs modification user-->
		<% if @user.errors.any? %>
    		<p>Nous n'avons pas réussi à modifié le commentaire pour la (ou les) raison(s) suivante(s) :</p>
    		<ul>
     		<% @user.errors.full_messages.each do |message| %>
     			<li><%= message %></li>
			<% end %>
			</ul>
		<% end %>
		</p>
	<% end %>
	<%= link_to 'Retour à la page de profil' , user_path%>
</body>
</html>