<!DOCTYPE html>
<html>
	<head>
		<style>
			background-color:DodgerBlue
		</style>
		<title>Potin</title>
	</head>
	<body>
		<div class="card">
			<div class="card-body">
				<h1 class="text-center">
				<span class="bg-success px-2">Bienvenue <a href="/<%= @gossip.user.id %>/detail">
					
				<%= @gossip.user.first_name%></a></span></h1>
			</div>
		</div>
		<h3 style="text-align:center;">
		Voici le contenue plus détailé de l'auteur <br/> <br/>
		</h3>
		<table class="table">
			<thead class="bg-success">
				<tr>
					<th scope="col">Auteur</th>
					<th scope="col">Contenue</th>
					<th scope="col">Date de creation</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%=@gossip.title%></td>
					<td><%=@gossip.content%></td>
					<td><%=@gossip.created_at%></td>
				</tr>
			</tbody>
		</table>
		<p>
			Pour plus de détails sur l'auteur clique <a href="/<%= @gossip.user.id%>/detail">ici</a> ou sur l'auteur lui même</br>
			<a href="/">Retour à l acceuil</a></br>
		</p>
	</body>
</html>